* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  font-size: 20px;
  color: skyblue;
}
.headofhome {
  text-align: center;
  font-size: 25px;
  color: black;
  background-color: yellowgreen;
  border-radius: 50px;
  height: 40px;
  border-color: blueviolet;
  padding-block-start: 5px;
  /* paddin block start this is for setting text up or down */
}

h1 {
  padding: 5px;
  background-color: black;
}

.h1paddinforhome {
  background-color: black;
  border-radius: 50px;
  height: 100px;
}

p {
  padding: 5px;
  background-color: white;
  font-style: oblique;
  text-align: center;
}
nav {
  background-color: white;
  overflow: hidden;
}

.nava {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: black;
}

main {
  background-color: white;
  text-align: left;
}

h2 {
  padding: 2px;
  text-align: center;
}

section:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

section {
  min-height: 1%vh;
  background-color: white;
}

video {
  padding: 10px;
}

iframe {
  height: 75vh;
}

img {
  padding: 30px;
}

section h5 {
  margin: 40px;
}

/* footer {
  background-color: #333;
  overflow: hidden;
}

footer a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
} */

form {
  text-align: center;
  background-color: white;
  width: 50;
}

aside {
  text-align: center;
}

.div1 {
  animation: infinite;

  text-align: center;
}
/* em {
  text-align: center;
  color: red;
  background-color: yellow; */

#disclaimer {
  display: block;
  margin: auto;
  text-align: center;
  border-style: dotted;
}
/* display: block; margin:auto; using this your input will got centered easily */

.fieldset1 {
  width: 50%;
  /* this is for setting border size */
  display: block;
  margin: auto;
  /* this is for easy centering field */
  /* font-weight: bold; */
  /* this is for bolding all text under this field */
  /* background-color: green;  */
  /* this is for giving colour to field backround */
  animation: infinite;
 text-align: center;
 border: hidden;
}
.streetandarea {
  width: 350px;
  height: 105px;
}

.streetandarea::placeholder {
  color: blueviolet;
}

.fieldset2 {
  text-align: center;
  display: block;
  margin: auto;
  width: 50%;
}

/* @keyframes ::afterbackdrop { 
    0% { transform: translateX(0); }
    50% { transform: translateX(300px); }
    100% { transform: translateX(300px) scale(1.5); }
  }
  
  {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation-name: moveAndScale;
    animation-duration: 5s;
  } */
/* this is for adding animation in elements */

.username {
  text-align: center;
  border-style: dotted;
}

.community {
  padding: 2%;
}

.green {
  color: green;
}

.welcomepagebutton {
  size: 1500px;
}

.forhome {
  padding: 0%;
  border-radius: 1200%;
  width: 1211px;
  height: auto;
  display: ruby-base;
}

.forhomesetlogin {
  text-align: left;
  margin: auto;
  /* set margin auto then write margin left or right as per your choice */
  margin-right: 45px;
  display: block;
  border-radius: 45px;

  size: 1%;
}
.cforlife {
  color: red;
  margin: auto;
}
.cforpvt {
  color: green;
}
.cforltd {
  color: blue;
  margin: auto;
}
.forheadd {
  border-style: dashed;
  border-left: hidden;
  border-right: hidden;
  border-color: blue;
  color: cyan;
  /* background-color: red; */
  background-image: url(/backgroundimage.jpeg);
}
.ffornav {
  width: 100%;
  text-align: center;
  border-left: hidden;
  border-right: hidden;
  border-top: hidden;
  padding: 15px;
  font-weight: 500;
  font-size: large;
  font-stretch: extra-expanded;
  /* font this tag is used to custmization of text */
  background-color: chartreuse;
}

.nav2 {
  margin: auto;
  margin-right: 5%;
}

.nav3 {
  margin: auto;
  margin-right: 5%;
}

.nav4 {
  margin: auto;
  margin-right: 5%;
}

.nav5 {
  margin: auto;
  margin-right: 5%;
}

.nav6 {
  margin: auto;
  margin-right: 5%;
}

.nav7 {
  margin: auto;
}
.nav1 {
  margin: auto;
  margin-right: 5%;
}

.forpricef {
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
  align-content: center;
}

.pricechartstittle {
  text-align: center;
}

.tablefors {
  text-align: center;
  display: block;
  margin: auto;
}

table {
  background-color: aliceblue;
  border-collapse: collapse;
  width: 100%;
  border-style: dashed;
  border-color: red;
  vertical-align: middle;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  border-style: dashed;
  border-top-color: green;

  /* border: this attribute is used to give border in any elements  like table border* */
}

th {
  background-color: yellow;
}
td {
  background-color: snow;
}
tr {
  border-color: green;
}
.sundramkabutton {
  text-align: center;
  display: block;
  margin: auto;
  padding: 20px;
  width: 15%;
  border-radius: 11px;
  border-style: dashed;
  border-top: hidden;
}

/* .forimg{

  align-items: center;
  text-align: center;
  border: hidden;
 } */

div {
  border: 3px solid black;
}
@media (max-width: 600px) {
  #reviews {
    padding: 10px;
  }

  .review {
    padding: 5px 0;
  }
}

.vinod {
  border: 1px solid blue;
  border: hidden;
  /* margin-left: 16%; */
  /* margin-right: 16%; */
  background-color: aliceblue;
  padding: 15px;

  color: yellow;

  background-image: url(/backgroundimage.jpeg);
  font-size: larger;
}
.gujrat {
  float: right;
  font-weight: 500;
  color: green;
  font-size: large;
}
.vinodcomment {
  text-align: left;
  background-color: skyblue;
  font-style: italic;
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url(/backgroundimage.jpeg);
  color: springgreen;
}

.newreview {
  text-align: center;
  width: 50%;
  margin-left: 455px;
}

.f.reviews {
  background-image: url(/backgroundimage.jpeg);
}

.reviarea {
  border: 1px solid red;
  width: 600px;
  margin-right: 0px;
  padding-right: 0%;

  float: left;
}

.idrevi {
  width: 100%;
}

.idi {
  text-align: left;
  background-color: aliceblue;

  font-size: larger;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 288px;
  margin-left: 0px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  /* Overflow hidden this is used to hide scroll bar side bar  */
}

.diyintoself {
  border-radius: 11px;
  padding: 11px;
  margin: 11px;
  margin-left: 0px;
  /* background-color: saddlebrown; */
  color: black;
  background-image: red;
  cursor: progress;
  border-color: gray;
  background-color: aliceblue;
}
.certificatehead {
  margin-top: 20px;
}

.controlcertificate {
  background-color: blueviolet;
}

.certificates-container {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  /* display.flex flex.wrap this property is used to create a responsivness on any element you want */
  justify-content: space-around;
  /* This property is used to adjust elemenst on based to available sizes as per display resolution */
  flex-grow: 1 1;
  border: hidden;
  overflow: hidden;
  /* background-color: aliceblue; */
  background-image: url(/backgroundimage.jpeg);
}

.imageone {
  width: 300px;
  margin: 2%;
  background-color: pink;
  border: hidden;
  overflow: hidden;
}

.certificatenames {
  font-weight: 500;
  font-size: large;
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: red;
}

.footernames {
  border: 3px solid red;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  text-align: left;
  list-style: none;
  border: hidden;
}

.footerchecks {
  border: 3px solid blue;
  font-weight: 500;
  list-style: none;
  text-align: left;
  margin: 5px;
  border: hidden;
}

.footerheads {
  border: 3px solid green;
  border: hidden;
}

.starting {
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footername {
  text-align: center;
  background-color: gray;
}

.declarationhr {
  border: 3px solid red;
  background-color: blueviolet;
}

.youareundermycontrol {
  background-image: url(/backgroundimage.jpeg);
}

.controlnamepara {
  text-align: left;
  font-weight: 300;
  font-size: larger;
  font-family: cursive;
  background-image: url(/backgroundimage.jpeg);
  /* background-color: tomato; */
  color: lightyellow;
}

.namecontrolproduct {
  font-weight: 400;
  text-align: center;
  color: yellow;
  font-size: x-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 40px;
  list-style: none;
}

.controlsee {
  color: red;
}

.controlnone {
  list-style-type: disc;
  color: crimson;
}

.controlnameparaa {
  text-align: left;
  font-weight: 300;
  font-size: larger;
  font-family: cursive;
  background-image: url(/backgroundimage.jpeg);
  /* background-color: tomato; */
  color: yellowgreen;
}

.controlcustomer {
  background-color: blueviolet;
  margin-top: 0px;
}

.controlproduct {
  background-color: blueviolet;
  border: 1px solid blueviolet;
}

.controlwelcome{
  color: slateblue;
}

.controlnameregistration{
  background-color: blueviolet;
}

.div1{
  background-image: url(/backgroundimage.jpeg);
  border: hidden;
}

.controlnameform{
  border: 4px solid red;
  text-align: center;
}

.controlnameforms{
  background-image: url(/backgroundimage.jpeg);
  color: gold;
  font-size: larger;
  text-align: center;
  margin-top: none;
  border: hidden;
  
}

.controlnamenames{
  background-color:blanchedalmond;
  color: red;
  font-size: larger;
  border: hidden;
  width: auto;
}

.fieldset1{
  border: 4px solid red;
  width: 100%;
  text-align: left;
  border: hidden;
}


.controlnamereset{
  padding: 10px;
  width: 100px;
  border-radius: 9px;
  background-color: wheat;
  margin: 20px;
}

.controlnameloginback{
  background-image: url(/backgroundimage.jpeg);
  text-align: center;
  border: hidden;
}
